*{
    margin: 0;
    padding: 0;
}
body{
    text-align:center;
}
.rdt_TableCol{
    background-color: rgba(0, 0, 0, 0.966);
}
.rdt_TableHeadRow{
    color: white;
    font-size: 18px;
    text-align: left;
}
.rdt_TableCell{
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
}
.rdt_TableCell:hover{
    background-color: rgba(0, 0, 0, 0.842);
}
.rdt_TableHeader{
    font: bold;
    text-align: left;
}